@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.close-and-heavy-text-shadow {
    text-shadow: 0 4px 3px rgba(0, 0, 0, .4),
    0 8px 13px rgba(0, 0, 0, .1),
    0 18px 23px rgba(0, 0, 0, .1);
}

.super-hero-text-shadow {
    text-shadow: -10px 10px 0px #758bef,
    -20px 20px 0px #546de5,
    -30px 30px 0px #2c43ba;
}

.background {
    background-image: url("../public/background.png");
    /* Add the blur effect */
    /*filter: blur(8px);*/
    /*-webkit-filter: blur(8px);*/


    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-auth {
    background-image: url("../public/circle-scatter-haikei.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 20px;
    text-align: center;
}

.spacer {
    aspect-ratio: 1920/300;
    width: 100%;
    background: no-repeat center;
    background-size: cover;
}

.wave-top {
    background-image: url("../public/wave-top.svg");
}

.wave-bottom {
    background-image: url("../public/wave-bottom.svg");
}

@media screen and (max-width: 768px) {
    .background {
        background: 20% 20% url("../public/background.png") no-repeat;
    }

    .spacer {
        aspect-ratio: 900/600;
    }
}